VERSION 12.10
EXPERIMENT-NAME signEncrypt

SIMULATION-TIME   10M

SEED   1


COORDINATE-SYSTEM    CARTESIAN
TERRAIN-DIMENSIONS   (1500, 1500)

NODE-PLACEMENT FILE
NODE-POSITION-FILE signEncrypt.nodes
MOBILITY   FILE

APP-CONFIG-FILE signEncrypt.app

LINK N2-190.0.1.0  { 1, 2 }

LINK-BANDWIDTH           112000
LINK-PROPAGATION-DELAY   50MS

MAC-PROTOCOL  MAC802.3

SUBNET-DATA-RATE             10000000
SUBNET-PROPAGATION-DELAY     1US

PROMISCUOUS-MODE   NO

NETWORK-PROTOCOL   IP
IP-QUEUE-NUM-PRIORITIES   3
IP-QUEUE-PRIORITY-QUEUE-SIZE   50000
IP-QUEUE-TYPE   FIFO
IP-QUEUE-SCHEDULER   STRICT-PRIORITY
IP-FORWARDING YES


ROUTING-PROTOCOL   OSPFv2

PKI-ENABLED YES
PKI-CONFIGURATION-FILE  signEncrypt.pki
PACKET-SNIFFER-NODE 0
###########################################
#               Statistics                #
###########################################

APPLICATION-STATISTICS                  YES
TCP-STATISTICS                          NO
UDP-STATISTICS                          YES
RSVP-STATISTICS                         NO
ROUTING-STATISTICS                      YES
ROUTE-REDISTRIBUTION-STATISTICS         NO
IGMP-STATISTICS                         NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS    NO
NETWORK-LAYER-STATISTICS                YES
QUEUE-STATISTICS                        NO
MAC-LAYER-STATISTICS                    NO
PHY-LAYER-STATISTICS                    NO

#[190.0.1.2]  EXATA-EXTERNAL-NODE  192.168.2.149

