# ***** EXata/Cyber Configuration File *****


#********************General Settings***********************************

VERSION 12.10
EXPERIMENT-NAME CyberWarfareDemo
EXPERIMENT-COMMENT None
SIMULATION-TIME 2H
SEED 1

#*******************Parallel Settings***********************************

PARTITION-SCHEME AUTO
GESTALT-PREFER-SHARED-MEMORY YES

#*******************ATM Configuration***********************************

DUMMY-ATM-LOGICAL-SUBNET-CONFIGURED NO
ATM-STATIC-ROUTE NO

#******************Dynamic Parameters***********************************

DYNAMIC-ENABLED NO

#*****************************Terrain***********************************

COORDINATE-SYSTEM LATLONALT
TERRAIN-SOUTH-WEST-CORNER ( 9.81424513, 59.9255358 )
TERRAIN-NORTH-EAST-CORNER ( 10.1928722, 60.1093206 )
DUMMY-ALTITUDES (1500, 0)
URBAN-TERRAIN-TYPE NONE
WEATHER-MOBILITY-INTERVAL 100MS

#******************Channel Properties***********************************

PROPAGATION-CHANNEL-FREQUENCY[0] 116000000
PROPAGATION-MODEL[0] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[0] TWO-RAY
PROPAGATION-SHADOWING-MODEL[0] CONSTANT
PROPAGATION-SHADOWING-MEAN[0] 4.0
PROPAGATION-FADING-MODEL[0] NONE
PROPAGATION-SPEED[0] 3e8
PROPAGATION-LIMIT[0] -111.0
PROPAGATION-MAX-DISTANCE[0] 0
PROPAGATION-COMMUNICATION-PROXIMITY[0] 400
PROPAGATION-PROFILE-UPDATE-RATIO[0] 0.0

#**************Mobility and Placement***********************************

NODE-PLACEMENT FILE
MOBILITY NONE

#*******************************CYBER***********************************

JAMMER-SCANNER-TYPE[0] BASIC
JAMMER-START-FREQUENCY[0] 100000000
JAMMER-END-FREQUENCY[0] 200000000
FIREWALL-CONFIG-FILE blacklist-node.firewall

#**************************STATISTICS***********************************

PHY-LAYER-STATISTICS YES
MAC-LAYER-STATISTICS YES
ACCESS-LIST-STATISTICS NO
ARP-STATISTICS YES
ROUTING-STATISTICS YES
POLICY-ROUTING-STATISTICS NO
QOSPF-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS YES
NETWORK-LAYER-STATISTICS YES
INPUT-QUEUE-STATISTICS NO
INPUT-SCHEDULER-STATISTICS NO
QUEUE-STATISTICS YES
SCHEDULER-STATISTICS YES
SCHEDULER-GRAPH-STATISTICS NO
DIFFSERV-EDGE-ROUTER-STATISTICS NO
ICMP-STATISTICS NO
ICMP-ERROR-STATISTICS NO
IGMP-STATISTICS NO
NDP-STATISTICS NO
MOBILE-IP-STATISTICS NO
TCP-STATISTICS YES
UDP-STATISTICS YES
MDP-STATISTICS NO
RSVP-STATISTICS NO
RTP-STATISTICS NO
APPLICATION-STATISTICS YES
BATTERY-MODEL-STATISTICS NO
ENERGY-MODEL-STATISTICS YES
CELLULAR-STATISTICS YES
GSM-STATISTICS NO
VOIP-SIGNALLING-STATISTICS NO
SWITCH-PORT-STATISTICS NO
SWITCH-SCHEDULER-STATISTICS NO
SWITCH-QUEUE-STATISTICS NO
MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
HOST-STATISTICS NO
LINK-11-STATISTICS NO
LINK16-STATISTICS NO
LINK-16-GATEWAY-STATISTICS NO

#**********************PACKET TRACING***********************************

PACKET-TRACE NO
ACCESS-LIST-TRACE NO

#******************Supplemental Files***********************************

APP-CONFIG-FILE CyberWarfareDemo.app
ROUTER-MODEL-CONFIG-FILE CyberWarfareDemo.router-models
DUMMY-USER-PROFILE-FILE-NUMBER 0
DUMMY-TRAFFIC-PATTERN-FILE-NUMBER 0
DUMMY-ARBITRARY-DISTRIBUTION-FILE-NUMBER 0

#***********************HLA Interface***********************************

HLA NO

#***********************DIS Interface***********************************

DIS NO

#***********************AGI Interface***********************************

AGI-INTERFACE NO

#*********************EXata Interface***********************************

VIRTUAL-NODE-TRIANGLE-SCALE-FACTOR-3D 200

#**********************Physical Layer***********************************

PHY-LISTENABLE-CHANNEL-MASK 1
PHY-LISTENING-CHANNEL-MASK 1
PHY-MODEL PHY802.11b
PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE 2000000
PHY802.11b-TX-POWER--1MBPS 15.0
PHY802.11b-TX-POWER--2MBPS 15.0
PHY802.11b-TX-POWER--6MBPS 15.0
PHY802.11b-TX-POWER-11MBPS 15.0
PHY802.11b-RX-SENSITIVITY--1MBPS -94.0
PHY802.11b-RX-SENSITIVITY--2MBPS -91.0
PHY802.11b-RX-SENSITIVITY--6MBPS -87.0
PHY802.11b-RX-SENSITIVITY-11MBPS -83.0
PHY802.11-ESTIMATED-DIRECTIONAL-ANTENNA-GAIN 15.0
PHY-RX-MODEL PHY802.11b
DUMMY-ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
ANTENNA-MODEL OMNIDIRECTIONAL
ANTENNA-GAIN 0.0
ANTENNA-HEIGHT 1.5
ANTENNA-EFFICIENCY 0.8
ANTENNA-MISMATCH-LOSS 0.3
ANTENNA-CABLE-LOSS 0.0
ANTENNA-CONNECTION-LOSS 0.2
ANTENNA-ORIENTATION-AZIMUTH 0
ANTENNA-ORIENTATION-ELEVATION 0
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ENERGY-MODEL-SPECIFICATION NONE

#***************************MAC Layer***********************************

LINK-MAC-PROTOCOL ABSTRACT
LINK-PROPAGATION-DELAY 1MS
LINK-BANDWIDTH 10000000
LINK-HEADER-SIZE-IN-BITS 224
LINK-GENERATE-AUTOMATIC-DEFAULT-ROUTE YES
LINK-TX-FREQUENCY 13170000000
LINK-RX-FREQUENCY 13170000000
LINK-TX-ANTENNA-HEIGHT 30
LINK-RX-ANTENNA-HEIGHT 30
LINK-TX-ANTENNA-DISH-DIAMETER 0.8
LINK-RX-ANTENNA-DISH-DIAMETER 0.8
LINK-TX-ANTENNA-CABLE-LOSS 1.5
LINK-RX-ANTENNA-CABLE-LOSS 1.5
LINK-TX-POWER 30
LINK-RX-SENSITIVITY -80
LINK-NOISE-TEMPERATURE 290
LINK-NOISE-FACTOR 4
LINK-TERRAIN-TYPE PLAINS
LINK-PROPAGATION-RAIN-INTENSITY 0
LINK-PROPAGATION-TEMPERATURE 25
LINK-PROPAGATION-SAMPLING-DISTANCE 100
LINK-PROPAGATION-CLIMATE 1
LINK-PROPAGATION-REFRACTIVITY 360
LINK-PROPAGATION-PERMITTIVITY 15
LINK-PROPAGATION-CONDUCTIVITY 0.005
LINK-PROPAGATION-HUMIDITY 50
LINK-PERCENTAGE-TIME-REFRACTIVITY-GRADIENT-LESS-STANDARD  15
MAC-PROTOCOL MACDOT11
MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
MAC-DOT11-RTS-THRESHOLD 0
MAC-DOT11-STOP-RECEIVING-AFTER-HEADER-MODE NO
MAC-DOT11-ASSOCIATION NONE
MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
WORMHOLE-VICTIM-COUNT-TURNAROUND-TIME NO
MAC-PROPAGATION-DELAY 1US

#***************Schedulers and Queues***********************************

IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 150000
IP-QUEUE-SCHEDULER STRICT-PRIORITY
IP-QUEUE-NUM-PRIORITIES 3

#*******************QoS Configuration***********************************


#********************Network Security***********************************

IPSEC-ENABLED NO

#****************Fixed Communications***********************************

FIXED-COMMS-DROP-PROBABILITY 0.0
DUMMY-FIXED-COMMS-DELAY NO

#************************ROUTER MODEL***********************************

DUMMY-ROUTER-TYPE USER-SPECIFIED
DUMMY-PARAM NO

#***********************NETWORK LAYER***********************************

NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-ADDRESS 127.0.0.1
IP-FRAGMENT-HOLD-TIME 60S
IP-FRAGMENTATION-UNIT 2048
ECN NO
ICMP YES
ICMP-ROUTER-ADVERTISEMENT-LIFE-TIME 1800S
ICMP-ROUTER-ADVERTISEMENT-MIN-INTERVAL 450S
ICMP-ROUTER-ADVERTISEMENT-MAX-INTERVAL 600S
ICMP-MAX-NUM-SOLICITATION 3
DUMMY-ICMP-ERROR-ENABLED NO
IPv6-ENABLE-6to4-TUNNELING NO
MOBILE-IP NO

#********************ROUTING PROTOCOL***********************************

ROUTING-PROTOCOL BELLMANFORD
STATIC-ROUTE NO
DEFAULT-ROUTE NO
HSRP-PROTOCOL NO

#***************************TRANSPORT***********************************

TRANSPORT-PROTOCOL-RSVP YES
GUI_DUMMY_CONFIG_TCP YES
TCP LITE
TCP-USE-RFC1323 NO
TCP-DELAY-SHORT-PACKETS-ACKS NO
TCP-USE-NAGLE-ALGORITHM YES
TCP-USE-KEEPALIVE-PROBES YES
TCP-USE-OPTIONS YES
TCP-DELAY-ACKS YES
TCP-MSS 512
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384

#**************************MPLS Specs***********************************

MPLS-PROTOCOL NO

#*******************Application Layer***********************************

RTP-ENABLED NO
MDP-ENABLED NO

#***********************USER BEHAVIOR***********************************

DUMMY-UBEE-ENABLED NO

#**********************Battery Models***********************************

BATTERY-MODEL NONE

#*******************OS Resource Model***********************************

OS-RESOURCE-MODEL NO

#*****************Adaptation Protocol***********************************

ADAPTATION-PROTOCOL AAL5
ATM-CONNECTION-REFRESH-TIME 5M
ATM-CONNECTION-TIMEOUT-TIME 1M
IP-QUEUE-PRIORITY-QUEUE-SIZE 150000
IP-QUEUE-TYPE FIFO


# ***** Advanced Emulation Data *****

SNMP-TRAP-COMMUNITY-STRING private
SNMP-MANAGER-ADDRESS 192.168.0.1
PACKET-SNIFFER-ENABLE-APP YES
PACKET-SNIFFER-ENABLE-UDP YES
PACKET-SNIFFER-ENABLE-TCP YES
PACKET-SNIFFER-ENABLE-ROUTING YES
PACKET-SNIFFER-ENABLE-MAC YES
EXTERNAL-NODE-DEBUG-LEVEL 0
IPNE NO


# ***** Virtual Node Data *****

[60.1.0.27] EXATA-EXTERNAL-NODE 60.1.0.27
[60.1.0.19] EXATA-EXTERNAL-NODE 60.1.0.19
[190.0.5.2] EXATA-EXTERNAL-NODE 190.0.5.2
[60.1.0.11] EXATA-EXTERNAL-NODE 192.168.1.109

#***************** [Wireless Subnet] ***********************************

SUBNET N8-60.1.0.0 {7 thru 30} 9.91102 60.0887 0

#**********************Physical Layer***********************************

[ N8-60.1.0.0 ] PHY-MODEL PHY802.11b
[ N8-60.1.0.0 ] PHY802.11-AUTO-RATE-FALLBACK NO
[ N8-60.1.0.0 ] PHY802.11-DATA-RATE 2000000
[ N8-60.1.0.0 ] PHY802.11b-TX-POWER--1MBPS 25
[ N8-60.1.0.0 ] PHY802.11b-TX-POWER--2MBPS 25
[ N8-60.1.0.0 ] PHY802.11b-TX-POWER--6MBPS 25
[ N8-60.1.0.0 ] PHY802.11b-TX-POWER-11MBPS 25
[ N8-60.1.0.0 ] PHY-RX-MODEL PHY802.11b
[ N8-60.1.0.0 ] DUMMY-ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
[ N8-60.1.0.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
[ N8-60.1.0.0 ] ANTENNA-GAIN 30
[ N8-60.1.0.0 ] ANTENNA-HEIGHT 5
[ N8-60.1.0.0 ] ENERGY-MODEL-SPECIFICATION NONE

#***************************MAC Layer***********************************

[ N8-60.1.0.0 ] MAC-PROTOCOL MACDOT11
[ N8-60.1.0.0 ] MAC-DOT11-ASSOCIATION NONE
[ N8-60.1.0.0 ] MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
[ N8-60.1.0.0 ] MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
[ N8-60.1.0.0 ] WORMHOLE-VICTIM-COUNT-TURNAROUND-TIME NO
[ N8-60.1.0.0 ] MAC-PROPAGATION-DELAY 100US

#***********************NETWORK LAYER***********************************

[ N8-60.1.0.0 ] NETWORK-PROTOCOL IP

#********************ROUTING PROTOCOL***********************************

[ N8-60.1.0.0 ] ROUTING-PROTOCOL OLSR-INRIA
[ N8-60.1.0.0 ] OLSR-HELLO-INTERVAL 2S
[ N8-60.1.0.0 ] OLSR-TC-INTERVAL 5S
[ N8-60.1.0.0 ] OLSR-MID-INTERVAL 5S
[ N8-60.1.0.0 ] OLSR-HNA-INTERVAL 5S
[ N8-60.1.0.0 ] OLSR-TOPOLOGY-HOLD-TIME 15S
[ N8-60.1.0.0 ] OLSR-DUPLICATE-HOLD-TIME 30S
[ N8-60.1.0.0 ] OLSR-MID-HOLD-TIME 15S
[ N8-60.1.0.0 ] OLSR-HNA-HOLD-TIME 15S



#********* [Default Wireless Subnet] ***********************************


#*********************** [Satellite] ***********************************


SUBNET N8-190.0.5.0 { 9, 27, 31 } 31
[ N8-190.0.5.0 ] HOSTNAME Satcom-WGSS
[ N8-190.0.5.0 ] GUI-NODE-2D-ICON satellite.png
[ N8-190.0.5.0 ] GUI-NODE-3D-ICON satellite.3ds
[ N8-190.0.5.0 ] GUI-SCALE-FACTOR-3D 100
[ N8-190.0.5.0 ] PARTITION 0

#*************Satellite Configuration***********************************

[ N8-190.0.5.0 ] NETWORK-PROTOCOL IP
[ N8-190.0.5.0 ] DUMMY-FIXED-COMMS NO
[ N8-190.0.5.0 ] MAC-PROTOCOL SATCOM
[ N8-190.0.5.0 ] SATCOM-SATELLITE-NODE 31
[ N8-190.0.5.0 ] SATCOM-TYPE BENT-PIPE
[ N8-190.0.5.0 ] SATCOM-BANDWIDTH 1000000
[ N8-190.0.5.0 ] SATCOM-PROPAGATION-DELAY 270MS

#************************ROUTER MODEL***********************************

[ N8-190.0.5.0 ] DUMMY-ROUTER-TYPE USER-SPECIFIED


#*************Interface Configuration***********************************


[7] NETWORK-PROTOCOL[0]       IP
[7] IP-ADDRESS[0]             60.1.0.14

[8] NETWORK-PROTOCOL[0]       IP
[8] IP-ADDRESS[0]             60.1.0.3

[9] NETWORK-PROTOCOL[0]       IP
[9] IP-ADDRESS[0]             60.1.0.4

[9] IP-SUBNET-MASK[1]         255.255.255.0
[9] IP-ADDRESS[1]             190.0.5.2

[10] NETWORK-PROTOCOL[0]      IP
[10] IP-ADDRESS[0]            60.1.0.10

[11] NETWORK-PROTOCOL[0]      IP
[11] IP-ADDRESS[0]            60.1.0.9

[12] NETWORK-PROTOCOL[0]      IP
[12] IP-ADDRESS[0]            60.1.0.12

[13] NETWORK-PROTOCOL[0]      IP
[13] IP-ADDRESS[0]            60.1.0.11

[14] NETWORK-PROTOCOL[0]      IP
[14] IP-ADDRESS[0]            60.1.0.7

[15] NETWORK-PROTOCOL[0]      IP
[15] IP-ADDRESS[0]            60.1.0.6

[16] NETWORK-PROTOCOL[0]      IP
[16] IP-ADDRESS[0]            60.1.0.19

[17] NETWORK-PROTOCOL[0]      IP
[17] IP-ADDRESS[0]            60.1.0.18

[18] NETWORK-PROTOCOL[0]      IP
[18] IP-ADDRESS[0]            60.1.0.2

[19] NETWORK-PROTOCOL[0]      IP
[19] IP-ADDRESS[0]            60.1.0.28

[20] NETWORK-PROTOCOL[0]      IP
[20] IP-ADDRESS[0]            60.1.0.26

[21] NETWORK-PROTOCOL[0]      IP
[21] IP-ADDRESS[0]            60.1.0.27

[22] NETWORK-PROTOCOL[0]      IP
[22] IP-ADDRESS[0]            60.1.0.25

[23] NETWORK-PROTOCOL[0]      IP
[23] IP-ADDRESS[0]            60.1.0.24

[24] NETWORK-PROTOCOL[0]      IP
[24] IP-ADDRESS[0]            60.1.0.22

[25] NETWORK-PROTOCOL[0]      IP
[25] IP-ADDRESS[0]            60.1.0.17

[26] NETWORK-PROTOCOL[0]      IP
[26] IP-ADDRESS[0]            60.1.0.23

[27] NETWORK-PROTOCOL[0]      IP
[27] IP-ADDRESS[0]            60.1.0.21

[27] IP-SUBNET-MASK[1]        255.255.255.0
[27] IP-ADDRESS[1]            190.0.5.4

[28] NETWORK-PROTOCOL[0]      IP
[28] IP-ADDRESS[0]            60.1.0.20

[29] NETWORK-PROTOCOL[0]      IP
[29] IP-ADDRESS[0]            60.1.0.29

[30] NETWORK-PROTOCOL[0]      IP
[30] IP-ADDRESS[0]            60.1.0.30

[31] IP-SUBNET-MASK[0]        255.255.255.0
[31] IP-ADDRESS[0]            190.0.5.1
[60.1.0.14 60.1.0.3 60.1.0.4 190.0.5.2 60.1.0.10 60.1.0.9 60.1.0.12 60.1.0.11 60.1.0.7 60.1.0.6 60.1.0.19 60.1.0.18 60.1.0.2 60.1.0.28 60.1.0.26 60.1.0.27 60.1.0.25 60.1.0.24 60.1.0.22 60.1.0.17 60.1.0.23 60.1.0.21 190.0.5.4 60.1.0.20 60.1.0.29 60.1.0.30 190.0.5.1] IP-QUEUE-TYPE[0]  FIFO
[190.0.5.2 190.0.5.4] OLSR-DUPLICATE-HOLD-TIME  30S
[60.1.0.14 60.1.0.3 60.1.0.4 190.0.5.2 60.1.0.10 60.1.0.9 60.1.0.12 60.1.0.11 60.1.0.7 60.1.0.6 60.1.0.19 60.1.0.18 60.1.0.2 60.1.0.28 60.1.0.26 60.1.0.27 60.1.0.25 60.1.0.24 60.1.0.22 60.1.0.17 60.1.0.23 60.1.0.21 190.0.5.4 60.1.0.20 60.1.0.29 60.1.0.30 190.0.5.1] IP-QUEUE-PRIORITY-QUEUE-SIZE[1]  150000
[190.0.5.2 190.0.5.4] OLSR-HELLO-INTERVAL  2S
[190.0.5.2 190.0.5.4] OLSR-MID-HOLD-TIME  15S
[190.0.5.1] ROUTING-PROTOCOL  NONE
[60.1.0.14 60.1.0.3 60.1.0.4 190.0.5.2 60.1.0.10 60.1.0.9 60.1.0.12 60.1.0.11 60.1.0.7 60.1.0.6 60.1.0.19 60.1.0.18 60.1.0.2 60.1.0.28 60.1.0.26 60.1.0.27 60.1.0.25 60.1.0.24 60.1.0.22 60.1.0.17 60.1.0.23 60.1.0.21 190.0.5.4 60.1.0.20 60.1.0.29 60.1.0.30 190.0.5.1] QUEUE-WEIGHT[0]  0
[60.1.0.28 60.1.0.26 60.1.0.27 60.1.0.29 60.1.0.30] PROMISCUOUS-MODE  YES
[60.1.0.14 60.1.0.3 60.1.0.4 190.0.5.2 60.1.0.10 60.1.0.9 60.1.0.12 60.1.0.11 60.1.0.7 60.1.0.6 60.1.0.19 60.1.0.18 60.1.0.2 60.1.0.28 60.1.0.26 60.1.0.27 60.1.0.25 60.1.0.24 60.1.0.22 60.1.0.17 60.1.0.23 60.1.0.21 190.0.5.4 60.1.0.20 60.1.0.29 60.1.0.30 190.0.5.1] IP-QUEUE-PRIORITY-QUEUE-SIZE[2]  150000
[60.1.0.14 60.1.0.3 60.1.0.4 190.0.5.2 60.1.0.10 60.1.0.9 60.1.0.12 60.1.0.11 60.1.0.7 60.1.0.6 60.1.0.19 60.1.0.18 60.1.0.2 60.1.0.28 60.1.0.26 60.1.0.27 60.1.0.25 60.1.0.24 60.1.0.22 60.1.0.17 60.1.0.23 60.1.0.21 190.0.5.4 60.1.0.20 60.1.0.29 60.1.0.30 190.0.5.1] QUEUE-WEIGHT[1]  0
[60.1.0.14 60.1.0.3 60.1.0.4 190.0.5.2 60.1.0.10 60.1.0.9 60.1.0.12 60.1.0.11 60.1.0.7 60.1.0.6 60.1.0.19 60.1.0.18 60.1.0.2 60.1.0.28 60.1.0.26 60.1.0.27 60.1.0.25 60.1.0.24 60.1.0.22 60.1.0.17 60.1.0.23 60.1.0.21 190.0.5.4 60.1.0.20 60.1.0.29 60.1.0.30 190.0.5.1] IP-QUEUE-TYPE[1]  FIFO
[190.0.5.2 190.0.5.4] ROUTING-PROTOCOL  OLSR-INRIA
[190.0.5.2 190.0.5.4] OLSR-TC-INTERVAL  5S
[190.0.5.2 190.0.5.4] OLSR-HNA-HOLD-TIME  15S
[190.0.5.2 190.0.5.4] OLSR-TOPOLOGY-HOLD-TIME  15S
[60.1.0.14 60.1.0.3 60.1.0.4 190.0.5.2 60.1.0.10 60.1.0.9 60.1.0.12 60.1.0.11 60.1.0.7 60.1.0.6 60.1.0.19 60.1.0.18 60.1.0.2 60.1.0.28 60.1.0.26 60.1.0.27 60.1.0.25 60.1.0.24 60.1.0.22 60.1.0.17 60.1.0.23 60.1.0.21 190.0.5.4 60.1.0.20 60.1.0.29 60.1.0.30 190.0.5.1] QUEUE-WEIGHT[2]  0
[60.1.0.14 60.1.0.3 60.1.0.4 190.0.5.2 60.1.0.10 60.1.0.9 60.1.0.12 60.1.0.11 60.1.0.7 60.1.0.6 60.1.0.19 60.1.0.18 60.1.0.2 60.1.0.28 60.1.0.26 60.1.0.27 60.1.0.25 60.1.0.24 60.1.0.22 60.1.0.17 60.1.0.23 60.1.0.21 190.0.5.4 60.1.0.20 60.1.0.29 60.1.0.30 190.0.5.1] IP-QUEUE-TYPE[2]  FIFO
[190.0.5.2 190.0.5.4] OLSR-MID-INTERVAL  5S
[60.1.0.28] ANTENNA-GAIN  20
[190.0.5.2 190.0.5.4] OLSR-HNA-INTERVAL  5S
[60.1.0.14 60.1.0.3 60.1.0.4 190.0.5.2 60.1.0.10 60.1.0.9 60.1.0.12 60.1.0.11 60.1.0.7 60.1.0.6 60.1.0.19 60.1.0.18 60.1.0.2 60.1.0.28 60.1.0.26 60.1.0.27 60.1.0.25 60.1.0.24 60.1.0.22 60.1.0.17 60.1.0.23 60.1.0.21 190.0.5.4 60.1.0.20 60.1.0.29 60.1.0.30 190.0.5.1] IP-QUEUE-PRIORITY-QUEUE-SIZE[0]  150000


#*************Hierarchy Configuration***********************************


#******************Node Configuration***********************************


[7 thru 30]     IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 5000000
[7 8]           GUI-NODE-2D-ICON destroyerF.png
[9]             GUI-NODE-2D-ICON groundF.PNG
[10 thru 12]    GUI-NODE-2D-ICON destroyerF.png
[13 thru 18]    GUI-NODE-2D-ICON groundF.png
[19]            GUI-NODE-2D-ICON groundH.png
[20]            GUI-NODE-2D-ICON ground track unit combat support mil intel surveillance sensor hostile.PNG
[21]            GUI-NODE-2D-ICON heli-ahH.png
[22]            GUI-NODE-2D-ICON ground track equipment ground vehicle armored c2v-acv friend.PNG
[23]            GUI-NODE-2D-ICON fixed-wing-comm-friend.png
[24]            GUI-NODE-2D-ICON ground track unit combat support mil intel surveillance sensor friend.PNG
[25]            GUI-NODE-2D-ICON fixed-wing-drone-rpv-uav-comm-friend.png
[26 27]         GUI-NODE-2D-ICON fixed-wing-comm-friend.png
[28]            GUI-NODE-2D-ICON fixed-wing-drone-rpv-uav-comm-friend.png
[29 30]         GUI-NODE-2D-ICON heli-ahH.png
[31]            GUI-NODE-2D-ICON satellite.png
[7 thru 31]     NODE-PLACEMENT FILE
[16]            MOBILITY FILE
[20 21]         MOBILITY FILE
[23]            MOBILITY FILE
[27]            MOBILITY FILE
[21]            OLSR-HELLO-INTERVAL 2S
[28]            OLSR-HELLO-INTERVAL 2S
[31]            PARTITION 0
[16]            MOBILITY-POSITION-GRANULARITY 1.0
[20 21]         MOBILITY-POSITION-GRANULARITY 1.0
[23]            MOBILITY-POSITION-GRANULARITY 1.0
[27]            MOBILITY-POSITION-GRANULARITY 1.0
[7 thru 30]     GUI-SCALE-FACTOR-3D 50
[31]            GUI-SCALE-FACTOR-3D 100
[21]            OLSR-TOPOLOGY-HOLD-TIME 15S
[28]            OLSR-TOPOLOGY-HOLD-TIME 15S
[20]            ICMP NO
[31]            GUI-NODE-3D-ICON satellite.3ds
[21]            OLSR-HNA-INTERVAL 5S
[28]            OLSR-HNA-INTERVAL 5S
[21]            OLSR-MID-INTERVAL 5S
[28]            OLSR-MID-INTERVAL 5S
[21]            OLSR-DUPLICATE-HOLD-TIME 30S
[28]            OLSR-DUPLICATE-HOLD-TIME 30S
[21]            ROUTING-PROTOCOL OLSR-INRIA
[28]            ROUTING-PROTOCOL OLSR-INRIA
[7]             HOSTNAME CSG-Ship01
[8]             HOSTNAME CSG-Ship02
[9]             HOSTNAME CAOC
[10]            HOSTNAME CSG-Ship04
[11]            HOSTNAME ESC-Ship01
[12]            HOSTNAME ESG-Ship02
[13]            HOSTNAME ESG-DisM01
[14]            HOSTNAME ESG-DisM02
[15]            HOSTNAME ESG-DisM03
[16]            HOSTNAME ESG-DisM04
[17]            HOSTNAME ESG-DisM05
[18]            HOSTNAME ESG-DisM06
[19]            HOSTNAME RF-DM01
[20]            HOSTNAME RF-VEH01
[21]            HOSTNAME RF-RW01
[22]            HOSTNAME Sur-Gnd1
[23]            HOSTNAME MC12W-01
[24]            HOSTNAME Sur-Gnd2
[25]            HOSTNAME MQ9-1
[26]            HOSTNAME RQ4-01
[27]            HOSTNAME MC12W-02
[28]            HOSTNAME MQ1-01
[29]            HOSTNAME RF-RW02
[30]            HOSTNAME RF-RW03
[31]            HOSTNAME Satcom-WGSS
[21]            OLSR-TC-INTERVAL 5S
[28]            OLSR-TC-INTERVAL 5S
[21]            OLSR-MID-HOLD-TIME 15S
[28]            OLSR-MID-HOLD-TIME 15S
[21]            OLSR-HNA-HOLD-TIME 15S
[28]            OLSR-HNA-HOLD-TIME 15S
NODE-POSITION-FILE CyberWarfareDemo.nodes

#*********Miscellaneous Configuration***********************************

GUI-DISPLAY-SETTINGS-FILE CyberWarfareDemo.display

FAULT-CONFIG-FILE CyberWarfareDemo.fault
