# Copyright (c) 2001-2013, SCALABLE Network Technologies, Inc.  All Rights Reserved.
#                          600 Corporate Pointe
#                          Suite 1200
#                          Culver City, CA 90230
#                          info@scalable-networks.com
#
# This source code is licensed, not sold, and is subject to a written
# license agreement.  Among other things, no portion of this source
# code may be copied, transmitted, disclosed, displayed, distributed,
# translated, used as the basis for a derivative work, or used, in
# whole or in part, for any program or purpose other than its intended
# use in compliance with the license agreement as part of the QualNet
# software.  This source code and certain of the algorithms contained
# within it are confidential trade secrets of Scalable Network
# Technologies, Inc. and may not be used as the basis for any other
# software, hardware, product or service.

# ***** QualNet Configuration File *****

# ************* General ***********

# ************* General ***********

VERSION 12.10
EXPERIMENT-NAME max-lsa-age-increment-interval
EXPERIMENT-COMMENT NONE
SIMULATION-TIME 4000S
SEED 3

#*******************Parallel Settings***********************************

PARTITION-SCHEME AUTO
GESTALT-PREFER-SHARED-MEMORY YES

#*******************ATM Configuration***********************************

DUMMY-ATM-LOGICAL-SUBNET-CONFIGURED NO
ATM-STATIC-ROUTE NO

#**********************Mask of Events***********************************

RRC-LTE-MEAS-OBSERVING-EVENT-MASK-RSRP 00000
RRC-LTE-MEAS-OBSERVING-EVENT-MASK-RSRQ 00000

#****************************A3 Event***********************************

RRC-LTE-MEAS-EVENT-A1-RSRP-TH 0.0
RRC-LTE-MEAS-EVENT-A1-RSRP-HYS 0.0
RRC-LTE-MEAS-EVENT-A1-RSRQ-TH 0.0
RRC-LTE-MEAS-EVENT-A1-RSRQ-HYS 0.0
RRC-LTE-MEAS-EVENT-A2-RSRP-TH 0.0
RRC-LTE-MEAS-EVENT-A2-RSRP-HYS 0.0
RRC-LTE-MEAS-EVENT-A2-RSRQ-TH 0.0
RRC-LTE-MEAS-EVENT-A2-RSRQ-HYS 0.0
RRC-LTE-MEAS-EVENT-A3-RSRP-OFF 0.0
RRC-LTE-MEAS-EVENT-A3-RSRP-HYS 0.0
RRC-LTE-MEAS-EVENT-A3-RSRQ-OFF 0.0
RRC-LTE-MEAS-EVENT-A3-RSRQ-HYS 0.0
RRC-LTE-MEAS-EVENT-A4-RSRP-TH 0.0
RRC-LTE-MEAS-EVENT-A4-RSRP-HYS 0.0
RRC-LTE-MEAS-EVENT-A4-RSRQ-TH 0.0
RRC-LTE-MEAS-EVENT-A4-RSRQ-HYS 0.0
RRC-LTE-MEAS-EVENT-A5-RSRP-TH1 0.0
RRC-LTE-MEAS-EVENT-A5-RSRP-TH2 0.0
RRC-LTE-MEAS-EVENT-A5-RSRP-HYS 0.0
RRC-LTE-MEAS-EVENT-A5-RSRQ-TH1 0.0
RRC-LTE-MEAS-EVENT-A5-RSRQ-TH2 0.0
RRC-LTE-MEAS-EVENT-A5-RSRQ-HYS 0.0

#******************Measurement Report***********************************

RRC-LTE-MEAS-TIME-TO-TRIGGER 400MS
RRC-LTE-MEAS-REPORT-INTERVAL 120MS
RRC-LTE-MEAS-REPORT-AMOUNT 1

#******************************Filter***********************************

RRC-LTE-MEAS-QUANTITY-CONFIG-FILTER-COEF-RSRP 4
RRC-LTE-MEAS-QUANTITY-CONFIG-FILTER-COEF-RSRQ 4

#*********************************Gap***********************************

RRC-LTE-MEAS-GAP-CONFIG-TYPE 0
RRC-LTE-MEAS-GAP-CONFIG-OFFSET 0

#*******************Advanced Settings***********************************

DYNAMIC-ENABLED NO

#*****************************Terrain***********************************

COORDINATE-SYSTEM CARTESIAN
TERRAIN-DIMENSIONS (1000, 1000)
DUMMY-ALTITUDES (1500, 0)
WEATHER-MOBILITY-INTERVAL 10S

#******************Channel Properties***********************************

PROPAGATION-CHANNEL-FREQUENCY[0] 304000000
PROPAGATION-MODEL[0] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[0] FREE-SPACE
PROPAGATION-SHADOWING-MODEL[0] CONSTANT
PROPAGATION-SHADOWING-MEAN[0] 4
PROPAGATION-FADING-MODEL[0] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[0] NO
PROPAGATION-SPEED[0] 3e8
PROPAGATION-LIMIT[0] -111.0
PROPAGATION-MAX-DISTANCE[0] 0
PROPAGATION-COMMUNICATION-PROXIMITY[0] 400
PROPAGATION-PROFILE-UPDATE-RATIO[0] 0.0
PROPAGATION-CHANNEL-FREQUENCY[1] 2.4e9
PROPAGATION-MODEL[1] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[1] FREE-SPACE
PROPAGATION-SHADOWING-MODEL[1] CONSTANT
PROPAGATION-SHADOWING-MEAN[1] 4
PROPAGATION-FADING-MODEL[1] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[1] NO
PROPAGATION-SPEED[1] 3e8
PROPAGATION-LIMIT[1] -111.0
PROPAGATION-MAX-DISTANCE[1] 0
PROPAGATION-COMMUNICATION-PROXIMITY[1] 400
PROPAGATION-PROFILE-UPDATE-RATIO[1] 0.0

#**************Mobility and Placement***********************************

NODE-PLACEMENT FILE
MOBILITY NONE

#**************************STATISTICS***********************************

PHY-LAYER-STATISTICS YES
MAC-LAYER-STATISTICS YES
ACCESS-LIST-STATISTICS NO
ARP-STATISTICS YES
ROUTING-STATISTICS YES
POLICY-ROUTING-STATISTICS NO
QOSPF-STATISTICS YES
ROUTE-REDISTRIBUTION-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS YES
NETWORK-LAYER-STATISTICS YES
INPUT-QUEUE-STATISTICS NO
INPUT-SCHEDULER-STATISTICS NO
QUEUE-STATISTICS YES
SCHEDULER-STATISTICS NO
SCHEDULER-GRAPH-STATISTICS NO
DIFFSERV-EDGE-ROUTER-STATISTICS NO
ICMP-STATISTICS NO
ICMP-ERROR-STATISTICS NO
IGMP-STATISTICS NO
NDP-STATISTICS NO
MOBILE-IP-STATISTICS NO
TCP-STATISTICS YES
UDP-STATISTICS YES
MDP-STATISTICS NO
RSVP-STATISTICS YES
RTP-STATISTICS NO
APPLICATION-STATISTICS YES
BATTERY-MODEL-STATISTICS NO
ENERGY-MODEL-STATISTICS YES
CELLULAR-STATISTICS YES
GSM-STATISTICS NO
VOIP-SIGNALLING-STATISTICS NO
SWITCH-PORT-STATISTICS NO
SWITCH-SCHEDULER-STATISTICS NO
SWITCH-QUEUE-STATISTICS NO
MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
HOST-STATISTICS NO
JAMMER-STATISTICS NO

#**********************PACKET TRACING***********************************

PACKET-TRACE NO
ACCESS-LIST-TRACE NO

#*****************Statistics Database***********************************

STATS-DB-COLLECTION NO

#******************Supplemental Files***********************************

APP-CONFIG-FILE max-lsa-age-increment-interval.app
DUMMY-USER-PROFILE-FILE-NUMBER 0
DUMMY-TRAFFIC-PATTERN-FILE-NUMBER 0
DUMMY-ARBITRARY-DISTRIBUTION-FILE-NUMBER 0
MULTICAST-GROUP-FILE max-lsa-age-increment-interval.member

#***********************HLA Interface***********************************

HLA NO

#***********************DIS Interface***********************************

DIS NO

#***********************AGI Interface***********************************

AGI-INTERFACE NO

#********************Socket Interface***********************************

SOCKET-INTERFACE NO

#**********************Physical Layer***********************************

PHY-LISTENABLE-CHANNEL-MASK 10
PHY-LISTENING-CHANNEL-MASK 10
PHY-MODEL PHY802.11b
PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE 2000000
PHY802.11b-TX-POWER--1MBPS 15.0
PHY802.11b-TX-POWER--2MBPS 15.0
PHY802.11b-TX-POWER--6MBPS 15.0
PHY802.11b-TX-POWER-11MBPS 15.0
PHY802.11b-RX-SENSITIVITY--1MBPS -94.0
PHY802.11b-RX-SENSITIVITY--2MBPS -91.0
PHY802.11b-RX-SENSITIVITY--6MBPS -87.0
PHY802.11b-RX-SENSITIVITY-11MBPS -83.0
PHY802.11-ESTIMATED-DIRECTIONAL-ANTENNA-GAIN 15.0
PHY-RX-MODEL PHY802.11b
DUMMY-ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
ANTENNA-MODEL OMNIDIRECTIONAL
ANTENNA-GAIN 0.0
ANTENNA-HEIGHT 1.5
ANTENNA-EFFICIENCY 0.8
ANTENNA-MISMATCH-LOSS 0.3
ANTENNA-CABLE-LOSS 0.0
ANTENNA-CONNECTION-LOSS 0.2
ANTENNA-ORIENTATION-AZIMUTH 0
ANTENNA-ORIENTATION-ELEVATION 0
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ENERGY-MODEL-SPECIFICATION NONE

#***************************MAC Layer***********************************

LINK-MAC-PROTOCOL ABSTRACT
LINK-PROPAGATION-DELAY 1MS
LINK-BANDWIDTH 10000000
LINK-HEADER-SIZE-IN-BITS 224
LINK-TX-FREQUENCY 13170000000
LINK-RX-FREQUENCY 13170000000
LINK-TX-ANTENNA-HEIGHT 30
LINK-RX-ANTENNA-HEIGHT 30
LINK-TX-ANTENNA-DISH-DIAMETER 0.8
LINK-RX-ANTENNA-DISH-DIAMETER 0.8
LINK-TX-ANTENNA-CABLE-LOSS 1.5
LINK-RX-ANTENNA-CABLE-LOSS 1.5
LINK-TX-POWER 30
LINK-RX-SENSITIVITY -80
LINK-NOISE-TEMPERATURE 290
LINK-NOISE-FACTOR 4
LINK-TERRAIN-TYPE PLAINS
LINK-PROPAGATION-RAIN-INTENSITY 0
LINK-PROPAGATION-TEMPERATURE 25
LINK-PROPAGATION-SAMPLING-DISTANCE 100
LINK-PROPAGATION-CLIMATE 1
LINK-PROPAGATION-REFRACTIVITY 360
LINK-PROPAGATION-PERMITTIVITY 15
LINK-PROPAGATION-CONDUCTIVITY 0.005
LINK-PROPAGATION-HUMIDITY 50
LINK-PERCENTAGE-TIME-REFRACTIVITY-GRADIENT-LESS-STANDARD 15
MAC-PROTOCOL MACDOT11
MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
MAC-DOT11-RTS-THRESHOLD 0
MAC-DOT11-STOP-RECEIVING-AFTER-HEADER-MODE NO
MAC-DOT11-ASSOCIATION NONE
MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
MAC-SECURITY-PROTOCOL NO
MAC-PROPAGATION-DELAY 1US

#***************Schedulers and Queues***********************************

IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 150000
IP-QUEUE-SCHEDULER STRICT-PRIORITY
IP-QUEUE-NUM-PRIORITIES 3

#*******************QoS Configuration***********************************


#*******************************Cyber***********************************

IPSEC-ENABLED NO
ISAKMP-SERVER NO
DUMMY-IAHEP-ENABLE NO

#****************Fixed Communications***********************************

FIXED-COMMS-DROP-PROBABILITY 0.0
DUMMY-FIXED-COMMS-DELAY NO

#***********************BGP Router-Id***********************************

BGP-ENABLE-ROUTER-ID NO
BGP-ENABLE-ROUTER-ID_IPv6 YES
BGP ROUTER-ID 127.0.0.1

#************************ROUTER MODEL***********************************

DUMMY-ROUTER-TYPE USER-SPECIFIED
DUMMY-PARAM NO

#***********************NETWORK LAYER***********************************

NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-ADDRESS 127.0.0.1
IP-FRAGMENT-HOLD-TIME 60S
IP-FRAGMENTATION-UNIT 2048
ECN NO
ICMP YES
DUMMY-SPECIFY-ICMP-ROUTERS NO
ICMP-ROUTER-ADVERTISEMENT-LIFE-TIME 1800S
ICMP-ROUTER-ADVERTISEMENT-MIN-INTERVAL 450S
ICMP-ROUTER-ADVERTISEMENT-MAX-INTERVAL 600S
ICMP-MAX-NUM-SOLICITATION 3
DUMMY-ICMP-ERROR-ENABLED NO
IPv6-ENABLE-6to4-TUNNELING NO
MOBILE-IP NO

#********************ROUTING PROTOCOL***********************************

ROUTING-PROTOCOL BELLMANFORD
STATIC-ROUTE NO
DEFAULT-ROUTE NO
DUMMY-MULTICAST NO

#***************************TRANSPORT***********************************

TRANSPORT-PROTOCOL-RSVP YES
GUI_DUMMY_CONFIG_TCP YES
TCP LITE
TCP-USE-RFC1323 NO
TCP-DELAY-SHORT-PACKETS-ACKS NO
TCP-USE-NAGLE-ALGORITHM YES
TCP-USE-KEEPALIVE-PROBES YES
TCP-USE-OPTIONS YES
TCP-DELAY-ACKS YES
TCP-MSS 512
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384

#**************************MPLS Specs***********************************

MPLS-PROTOCOL NO

#*******************Application Layer***********************************

RTP-ENABLED NO
MDP-ENABLED NO

#***********************USER BEHAVIOR***********************************

DUMMY-UBEE-ENABLED NO

#**********************Battery Models***********************************

BATTERY-MODEL NONE

#*****************Adaptation Protocol***********************************

ADAPTATION-PROTOCOL AAL5
ATM-CONNECTION-REFRESH-TIME 5M
ATM-CONNECTION-TIMEOUT-TIME 1M
IP-QUEUE-PRIORITY-QUEUE-SIZE 150000
IP-QUEUE-TYPE FIFO

#***************** [Wireless Subnet] ***********************************

SUBNET N16-193.193.0.0 {302, 304} 345.21 443.037 0

#**********************Physical Layer***********************************

[ N16-193.193.0.0 ] PHY-LISTENABLE-CHANNEL-MASK 01
[ N16-193.193.0.0 ] PHY-LISTENING-CHANNEL-MASK 01
[ N16-193.193.0.0 ] PHY-MODEL PHY802.11b
[ N16-193.193.0.0 ] PHY802.11-AUTO-RATE-FALLBACK NO
[ N16-193.193.0.0 ] PHY802.11b-RX-SENSITIVITY--1MBPS -93.0
[ N16-193.193.0.0 ] PHY802.11b-RX-SENSITIVITY--2MBPS -89.0
[ N16-193.193.0.0 ] PHY-RX-MODEL PHY802.11b
[ N16-193.193.0.0 ] DUMMY-ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
[ N16-193.193.0.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
[ N16-193.193.0.0 ] ENERGY-MODEL-SPECIFICATION NONE

#***************************MAC Layer***********************************

[ N16-193.193.0.0 ] MAC-PROTOCOL MACDOT11
[ N16-193.193.0.0 ] MAC-DOT11-RTS-THRESHOLD 600
[ N16-193.193.0.0 ] MAC-DOT11-ASSOCIATION NONE
[ N16-193.193.0.0 ] MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
[ N16-193.193.0.0 ] MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
[ N16-193.193.0.0 ] MAC-SECURITY-PROTOCOL NO
[ N16-193.193.0.0 ] PROMISCUOUS-MODE YES
[ N16-193.193.0.0 ] LLC-ENABLED NO

#***********************NETWORK LAYER***********************************

[ N16-193.193.0.0 ] NETWORK-PROTOCOL IP

#********************ROUTING PROTOCOL***********************************

[ N16-193.193.0.0 ] ROUTING-PROTOCOL OSPFv2
[ N16-193.193.0.0 ] OSPFv2-DEFINE-AREA YES
[ N16-193.193.0.0 ] OSPFv2-CONFIG-FILE max-lsa-age-increment-interval.ospf
[ N16-193.193.0.0 ] OSPFv2-LSA-AGE-INCREMENT-INTERVAL 3600S
[ N16-193.193.0.0 ] OSPFv2-ADVRT-SELF-INTF YES
[ N16-193.193.0.0 ] OSPFv2-DEMAND-CIRCUIT-EXTENSION-ENABLED NO



#********* [Default Wireless Subnet] ***********************************


#**************************** [Link] ***********************************

LINK N8-10.10.4.0 { 304, 404 }

#******POINT TO POINT LINK PROPERTIES***********************************

[ 10.10.4.1 10.10.4.2 ] LINK-PHY-TYPE WIRED
[ 10.10.4.1 10.10.4.2 ] DUMMY-GUI-SYMMETRIC-LINK YES

#********************Network Protocol***********************************

[ 10.10.4.1 10.10.4.2 ] NETWORK-PROTOCOL IP

#***************** [Wireless Subnet] ***********************************

SUBNET N8-190.0.1.0 {42, 80} 169.369 343.972 0

#**********************Physical Layer***********************************

[ N8-190.0.1.0 ] PHY-MODEL PHY802.11b
[ N8-190.0.1.0 ] PHY802.11-AUTO-RATE-FALLBACK NO
[ N8-190.0.1.0 ] PHY802.11b-RX-SENSITIVITY--1MBPS -93.0
[ N8-190.0.1.0 ] PHY802.11b-RX-SENSITIVITY--2MBPS -89.0
[ N8-190.0.1.0 ] PHY-RX-MODEL PHY802.11b
[ N8-190.0.1.0 ] DUMMY-ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
[ N8-190.0.1.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
[ N8-190.0.1.0 ] ENERGY-MODEL-SPECIFICATION NONE

#***************************MAC Layer***********************************

[ N8-190.0.1.0 ] MAC-PROTOCOL MACDOT11
[ N8-190.0.1.0 ] MAC-DOT11-RTS-THRESHOLD 600
[ N8-190.0.1.0 ] MAC-DOT11-ASSOCIATION NONE
[ N8-190.0.1.0 ] MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
[ N8-190.0.1.0 ] MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
[ N8-190.0.1.0 ] MAC-SECURITY-PROTOCOL NO
[ N8-190.0.1.0 ] PROMISCUOUS-MODE YES
[ N8-190.0.1.0 ] LLC-ENABLED NO

#***********************NETWORK LAYER***********************************

[ N8-190.0.1.0 ] NETWORK-PROTOCOL IP

#********************ROUTING PROTOCOL***********************************

[ N8-190.0.1.0 ] ROUTING-PROTOCOL RIP
[ N8-190.0.1.0 ] RIP-VERSION 2



#**************************** [Link] ***********************************

LINK N8-141.32.42.0 { 42, 1042 }

#******POINT TO POINT LINK PROPERTIES***********************************

[ 141.32.42.1 141.32.42.2 ] LINK-PHY-TYPE WIRED
[ 141.32.42.1 141.32.42.2 ] DUMMY-GUI-SYMMETRIC-LINK YES

#********************Network Protocol***********************************

[ 141.32.42.1 141.32.42.2 ] NETWORK-PROTOCOL IP

#**************************** [Link] ***********************************

LINK N8-141.32.80.0 { 80, 302 }

#******POINT TO POINT LINK PROPERTIES***********************************

[ 141.32.80.1 141.32.80.2 ] LINK-PHY-TYPE WIRED
[ 141.32.80.1 141.32.80.2 ] DUMMY-GUI-SYMMETRIC-LINK YES

#********************Network Protocol***********************************

[ 141.32.80.1 141.32.80.2 ] NETWORK-PROTOCOL IP

#*************Interface Configuration***********************************

[42] NETWORK-PROTOCOL[0]      IP
[42] IP-ADDRESS[0]            190.0.1.2

[42] NETWORK-PROTOCOL[1]      IP
[42] IP-ADDRESS[1]            141.32.42.1

[80] NETWORK-PROTOCOL[0]      IP
[80] IP-ADDRESS[0]            190.0.1.4

[80] NETWORK-PROTOCOL[1]      IP
[80] IP-ADDRESS[1]            141.32.80.1

[302] NETWORK-PROTOCOL[0]     IP
[302] IP-ADDRESS[0]           193.193.2.1

[302] NETWORK-PROTOCOL[1]     IP
[302] IP-ADDRESS[1]           141.32.80.2

[304] NETWORK-PROTOCOL[0]     IP
[304] IP-ADDRESS[0]           193.193.4.1

[304] NETWORK-PROTOCOL[1]     IP
[304] IP-ADDRESS[1]           10.10.4.1

[404] NETWORK-PROTOCOL[0]     IP
[404] IP-ADDRESS[0]           10.10.4.2

[1042] NETWORK-PROTOCOL[0]    IP
[1042] IP-ADDRESS[0]          141.32.42.2

[141.32.42.1 141.32.80.1 141.32.80.2 10.10.4.1 10.10.4.2 141.32.42.2] IP-FRAGMENTATION-UNIT  1500
[141.32.42.1 141.32.80.1 141.32.80.2 141.32.42.2] RIP-VERSION  2
[193.193.2.1] OSPFv2-INJECT-EXTERNAL-ROUTE  NO
[141.32.42.1 141.32.80.1 141.32.80.2 10.10.4.1 10.10.4.2 141.32.42.2] LINK-GENERATE-AUTOMATIC-DEFAULT-ROUTE  NO
[141.32.42.1 141.32.80.1 141.32.80.2 10.10.4.1 10.10.4.2 141.32.42.2] PROMISCUOUS-MODE  YES
[193.193.4.1] AS-BOUNDARY-ROUTER  NO
[141.32.42.1 141.32.80.1 141.32.80.2 10.10.4.1 10.10.4.2 141.32.42.2] LINK-MAC-PROTOCOL  ABSTRACT
[141.32.42.1 141.32.80.1 141.32.80.2 141.32.42.2] ROUTING-PROTOCOL  RIP
[193.193.2.1] AS-BOUNDARY-ROUTER  YES
[190.0.1.2 141.32.42.1 190.0.1.4 141.32.80.1 193.193.2.1 141.32.80.2 193.193.4.1 10.10.4.1 10.10.4.2 141.32.42.2] IP-QUEUE-TYPE[0]  FIFO
[190.0.1.2 141.32.42.1 190.0.1.4 141.32.80.1 193.193.2.1 141.32.80.2 193.193.4.1 10.10.4.1 10.10.4.2 141.32.42.2] IP-QUEUE-TYPE[1]  FIFO
[190.0.1.2 141.32.42.1 190.0.1.4 141.32.80.1 193.193.2.1 141.32.80.2 193.193.4.1 10.10.4.1 10.10.4.2 141.32.42.2] IP-QUEUE-TYPE[2]  FIFO


#*************Hierarchy Configuration***********************************


#******************Node Configuration***********************************


[42]            DUMMY-MULTICAST YES
[80]            DUMMY-MULTICAST YES
[302]           DUMMY-MULTICAST YES
[304]           DUMMY-MULTICAST YES
[404]           DUMMY-MULTICAST YES
[1042]          DUMMY-MULTICAST YES
[42]            IP-FRAGMENTATION-UNIT 1500
[80]            IP-FRAGMENTATION-UNIT 1500
[302]           IP-FRAGMENTATION-UNIT 1500
[304]           IP-FRAGMENTATION-UNIT 1500
[404]           IP-FRAGMENTATION-UNIT 1500
[1042]          IP-FRAGMENTATION-UNIT 1500
[42]            GROUP-MANAGEMENT-PROTOCOL IGMP
[80]            GROUP-MANAGEMENT-PROTOCOL IGMP
[302]           GROUP-MANAGEMENT-PROTOCOL IGMP
[304]           GROUP-MANAGEMENT-PROTOCOL IGMP
[404]           GROUP-MANAGEMENT-PROTOCOL IGMP
[1042]          GROUP-MANAGEMENT-PROTOCOL IGMP
[42]            IP-QUEUE-PRIORITY-QUEUE-SIZE[0] 100000
[80]            IP-QUEUE-PRIORITY-QUEUE-SIZE[0] 100000
[302]           IP-QUEUE-PRIORITY-QUEUE-SIZE[0] 100000
[304]           IP-QUEUE-PRIORITY-QUEUE-SIZE[0] 100000
[404]           IP-QUEUE-PRIORITY-QUEUE-SIZE[0] 100000
[1042]          IP-QUEUE-PRIORITY-QUEUE-SIZE[0] 100000
[42]            MULTICAST-STATIC-ROUTE-FILE max-lsa-age-increment-interval.staticmulticast
[80]            MULTICAST-STATIC-ROUTE-FILE max-lsa-age-increment-interval.staticmulticast
[302]           MULTICAST-STATIC-ROUTE-FILE max-lsa-age-increment-interval.staticmulticast
[304]           MULTICAST-STATIC-ROUTE-FILE max-lsa-age-increment-interval.staticmulticast
[404]           MULTICAST-STATIC-ROUTE-FILE max-lsa-age-increment-interval.staticmulticast
[1042]          MULTICAST-STATIC-ROUTE-FILE max-lsa-age-increment-interval.staticmulticast
[42]            IP-QUEUE-PRIORITY-QUEUE-SIZE[2] 100000
[80]            IP-QUEUE-PRIORITY-QUEUE-SIZE[2] 100000
[302]           IP-QUEUE-PRIORITY-QUEUE-SIZE[2] 100000
[304]           IP-QUEUE-PRIORITY-QUEUE-SIZE[2] 100000
[404]           IP-QUEUE-PRIORITY-QUEUE-SIZE[2] 100000
[1042]          IP-QUEUE-PRIORITY-QUEUE-SIZE[2] 100000
[42]            IP-QUEUE-PRIORITY-QUEUE-SIZE[1] 100000
[80]            IP-QUEUE-PRIORITY-QUEUE-SIZE[1] 100000
[302]           IP-QUEUE-PRIORITY-QUEUE-SIZE[1] 100000
[304]           IP-QUEUE-PRIORITY-QUEUE-SIZE[1] 100000
[404]           IP-QUEUE-PRIORITY-QUEUE-SIZE[1] 100000
[1042]          IP-QUEUE-PRIORITY-QUEUE-SIZE[1] 100000
[42]            ROUTER-CONFIG-FILE max-lsa-age-increment-interval.router-config
[80]            ROUTER-CONFIG-FILE max-lsa-age-increment-interval.router-config
[302]           ROUTER-CONFIG-FILE max-lsa-age-increment-interval.router-config
[304]           ROUTER-CONFIG-FILE max-lsa-age-increment-interval.router-config
[404]           ROUTER-CONFIG-FILE max-lsa-age-increment-interval.router-config
[1042]          ROUTER-CONFIG-FILE max-lsa-age-increment-interval.router-config
[42]            MULTICAST-STATIC-ROUTE YES
[80]            MULTICAST-STATIC-ROUTE YES
[302]           MULTICAST-STATIC-ROUTE YES
[304]           MULTICAST-STATIC-ROUTE YES
[404]           MULTICAST-STATIC-ROUTE YES
[1042]          MULTICAST-STATIC-ROUTE YES
[42]            DEFAULT-ROUTE YES
[80]            DEFAULT-ROUTE YES
[302]           DEFAULT-ROUTE YES
[304]           DEFAULT-ROUTE YES
[404]           DEFAULT-ROUTE YES
[1042]          DEFAULT-ROUTE YES
[42]            DEFAULT-ROUTE-FILE max-lsa-age-increment-interval.routes-default
[80]            DEFAULT-ROUTE-FILE max-lsa-age-increment-interval.routes-default
[302]           DEFAULT-ROUTE-FILE max-lsa-age-increment-interval.routes-default
[304]           DEFAULT-ROUTE-FILE max-lsa-age-increment-interval.routes-default
[404]           DEFAULT-ROUTE-FILE max-lsa-age-increment-interval.routes-default
[1042]          DEFAULT-ROUTE-FILE max-lsa-age-increment-interval.routes-default
[42]            IGMP-ROUTER-LIST {42, 80, 302, 303, 304}
[80]            IGMP-ROUTER-LIST {42, 80, 302, 303, 304}
[302]           IGMP-ROUTER-LIST {42, 80, 302, 303, 304}
[304]           IGMP-ROUTER-LIST {42, 80, 302, 303, 304}
[404]           IGMP-ROUTER-LIST {42, 80, 302, 303, 304}
[1042]          IGMP-ROUTER-LIST {42, 80, 302, 303, 304}
[42]            HOSTNAME host42
[80]            HOSTNAME host80
[302]           HOSTNAME host302
[304]           HOSTNAME host304
[404]           HOSTNAME host404
[1042]          HOSTNAME host1042
[42]            ROUTING-PROTOCOL NONE
[80]            ROUTING-PROTOCOL NONE
[302]           ROUTING-PROTOCOL NONE
[304]           ROUTING-PROTOCOL NONE
[404]           ROUTING-PROTOCOL NONE
[1042]          ROUTING-PROTOCOL NONE
[404]           IP-FORWARDING NO
[42]            NODE-PLACEMENT FILE
[80]            NODE-PLACEMENT FILE
[302]           NODE-PLACEMENT FILE
[304]           NODE-PLACEMENT FILE
[404]           NODE-PLACEMENT FILE
[1042]          NODE-PLACEMENT FILE
[42]            IP-ENABLE-LOOPBACK NO
[80]            IP-ENABLE-LOOPBACK NO
[302]           IP-ENABLE-LOOPBACK NO
[304]           IP-ENABLE-LOOPBACK NO
[404]           IP-ENABLE-LOOPBACK NO
[1042]          IP-ENABLE-LOOPBACK NO
NODE-POSITION-FILE max-lsa-age-increment-interval.nodes

#*********Miscellaneous Configuration***********************************

GUI-DISPLAY-SETTINGS-FILE max-lsa-age-increment-interval.display

