VERSION 12.10
EXPERIMENT-NAME two-sat
SIMULATION-TIME 60S
SEED 25
#
# ********** Parallel Settings *********
#
PARTITION-SCHEME AUTO
#
# ********** Terrain  *********
#
COORDINATE-SYSTEM CARTESIAN
TERRAIN-DIMENSIONS ( 1500, 1500 )
#
# ********** Nodes  *********
#
NUMBER-OF-NODES 12
#
#
#
# ***** Node Placement *****
#
NODE-PLACEMENT RANDOM
#
# ***** MAC Protocol Configuration *****
#
#
#
MAC-PROTOCOL ANE
ANE-EQUATION-PATH addons/satellite/modules
ANE-EQUATION-DEFINITION anesat_mac
ANE-SUBNET-ARCHITECTURE Asymmetric
ANESAT-SATELLITE-ARCHITECTURE BentPipe
ANESAT-UPSTREAM-TRAFFIC-CONDITIONING-TYPE STRICT
ANESAT-UPSTREAM-MAC-LATENCY 0.000000
ANESAT-DOWNSTREAM-MAC-LATENCY 0.000000
#
#
#
# ***** Application Configuration *****
#
APP-CONFIG-FILE ./two-sat.app
#
#
# ***** Network Configuration *****
#
#
PROMISCUOUS-MODE YES
NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-ADDRESS 127.0.0.1
IP-FRAGMENTATION-UNIT 2048
IP-QUEUE-NUM-PRIORITIES 3
IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 187992
IP-QUEUE-TYPE FIFO
IP-QUEUE-SCHEDULER STRICT-PRIORITY
IP-QUEUE-PRIORITY-QUEUE-SIZE 187992
#
#
#
#
# ***** TCP Configuration *****
#
#
TCP LITE
TCP-USE-RFC1323 YES
TCP-DELAY-ACKS NO
TCP-DELAY-SHORT-PACKETS-ACKS NO
TCP-USE-NAGLE-ALGORITHM YES
TCP-USE-KEEPALIVE-PROBES YES
TCP-USE-PUSH YES
TCP-MSS 1492
TCP-SEND-BUFFER 93996
TCP-RECEIVE-BUFFER 93996
#
#
#
#
# ***** QualNet Statistics Configuration *****
#
APPLICATION-STATISTICS YES
TCP-STATISTICS YES
UDP-STATISTICS YES
ROUTING-STATISTICS YES
ICMP-STATISTICS NO
IGMP-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS NO
NETWORK-LAYER-STATISTICS YES
QUEUE-STATISTICS YES
SCHEDULER-STATISTICS NO
MAC-LAYER-STATISTICS YES
PHY-LAYER-STATISTICS NO

MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
RSVP-STATISTICS NO

DIFFSERV-EDGE-ROUTER-STATISTICS NO
QOSPF-STATISTICS NO
ACCESS-LIST-STATISTICS NO
POLICY-ROUTING-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
SIGNALLING-STATISTICS YES
MOBILE-IP-STATISTICS NO
#
#
#
#
# ***** Subnet Configuration *****
#
ANESAT-UPSTREAM-COUNT 5
ANESAT-UPSTREAM-BANDWIDTH[0] 1.500000e+07
ANESAT-UPSTREAM-BANDWIDTH[1] 1.500000e+07

[ 1 thru 10 ] ANESAT-UPSTREAM-BANDWIDTH-LIMIT 750000

#
SUBNET N8-192.0.1.0 { 1,3,5,7,9,11}
[N8-192.0.1.0] ANE-HEADEND-NODE 11
[N8-192.0.1.0] ANESAT-CHANNEL-ID Downlink0
[N8-192.0.1.0] ANESAT-DOWNSTREAM-BANDWIDTH 1.500000e+07
[N8-192.0.1.0] ANE-PROCESSOR-NODE 11
[N8-192.0.1.0] ANE-PROCESSOR-NODE-INDEX 0
[ 1 ] ANESAT-UPLINK-CHANNEL 0
[ 3 ] ANESAT-UPLINK-CHANNEL 0
[ 5 ] ANESAT-UPLINK-CHANNEL 0
[ 7 ] ANESAT-UPLINK-CHANNEL 0
[ 9 ] ANESAT-UPLINK-CHANNEL 0

#
SUBNET N8-192.0.2.0 { 2,4,6,8,10,12}
[N8-192.0.2.0] ANE-HEADEND-NODE 12
[N8-192.0.2.0] ANESAT-CHANNEL-ID Downlink1
[N8-192.0.2.0] ANESAT-DOWNSTREAM-BANDWIDTH 1.500000e+07
[N8-192.0.2.0] ANE-PROCESSOR-NODE 12
[N8-192.0.2.0] ANE-PROCESSOR-NODE-INDEX 0
[ 2 ] ANESAT-UPLINK-CHANNEL 0
[ 4 ] ANESAT-UPLINK-CHANNEL 0
[ 6 ] ANESAT-UPLINK-CHANNEL 0
[ 8 ] ANESAT-UPLINK-CHANNEL 0
[ 10 ] ANESAT-UPLINK-CHANNEL 0
#

LINK-PROPAGATION-DELAY 250MS
LINK N2-3.0 { 11, 12}
LINK-BANDWIDTH 100000000

#
#
IP-FORWARDING YES
MOBILITY NONE
ROUTING-PROTOCOL OSPFv2

#DEFAULT-ROUTE YES
#DEFAULT-ROUTE-FILE distributed.routes-default
STATIC-ROUTE YES
STATIC-ROUTE-FILE two-sat.routes-static
#
#
GESTALT-PREFER-SHARED-MEMORY FALSE
