# ***** QualNet Configuration File *****


#********************General Settings***********************************

VERSION 12.10
EXPERIMENT-NAME blacklist-node
EXPERIMENT-COMMENT NONE
SIMULATION-TIME 30S
SEED 1

#*******************Parallel Settings***********************************

PARTITION-SCHEME AUTO

#*******************ATM Configuration***********************************

DUMMY-ATM-LOGICAL-SUBNET-CONFIGURED NO
ATM-STATIC-ROUTE NO

#******************Dynamic Parameters***********************************

DYNAMIC-ENABLED NO

#*****************************Terrain***********************************

COORDINATE-SYSTEM CARTESIAN
TERRAIN-DIMENSIONS (1500, 1500)
DUMMY-ALTITUDES (1500, 0)
DUMMY-ENABLE-URBAN-TERRAIN-FEATURE NO
WEATHER-MOBILITY-INTERVAL 100MS

#******************Channel Properties***********************************

PROPAGATION-CHANNEL-FREQUENCY[0] 2.4e9

#**************Mobility and Placement***********************************

NODE-PLACEMENT FILE
NODE-POSITION-FILE blacklist-node.nodes
MOBILITY NONE

#*******************************CYBER***********************************

FIREWALL-CONFIG-FILE ./blacklist-node.firewall

#**************************STATISTICS***********************************

PHY-LAYER-STATISTICS YES
MAC-LAYER-STATISTICS YES
ACCESS-LIST-STATISTICS NO
ARP-STATISTICS YES
ROUTING-STATISTICS YES
POLICY-ROUTING-STATISTICS NO
QOSPF-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS YES
NETWORK-LAYER-STATISTICS YES
INPUT-QUEUE-STATISTICS NO
INPUT-SCHEDULER-STATISTICS NO
QUEUE-STATISTICS YES
SCHEDULER-STATISTICS NO
SCHEDULER-GRAPH-STATISTICS NO
DIFFSERV-EDGE-ROUTER-STATISTICS NO
ICMP-STATISTICS NO
ICMP-ERROR-STATISTICS NO
IGMP-STATISTICS NO
NDP-STATISTICS NO
MOBILE-IP-STATISTICS NO
TCP-STATISTICS YES
UDP-STATISTICS YES
MDP-STATISTICS NO
RSVP-STATISTICS NO

RTP-STATISTICS NO
APPLICATION-STATISTICS YES
BATTERY-MODEL-STATISTICS NO
ENERGY-MODEL-STATISTICS YES

CELLULAR-STATISTICS YES
GSM-STATISTICS NO
VOIP-SIGNALLING-STATISTICS NO
SWITCH-PORT-STATISTICS NO
SWITCH-SCHEDULER-STATISTICS NO
SWITCH-QUEUE-STATISTICS NO
MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
HOST-STATISTICS NO
LINK-11-STATISTICS NO
LINK16-STATISTICS NO
LINK-16-GATEWAY-STATISTICS NO

#**********************PACKET TRACING***********************************

PACKET-TRACE NO
ACCESS-LIST-TRACE NO

#******************Supplemental Files***********************************

APP-CONFIG-FILE blacklist-node.app
DUMMY-USER-PROFILE-FILE-NUMBER 0
DUMMY-TRAFFIC-PATTERN-FILE-NUMBER 0
DUMMY-ARBITRARY-DISTRIBUTION-FILE-NUMBER 0

#***********************HLA Interface***********************************

HLA NO

#***********************DIS Interface***********************************

DIS NO

#***********************AGI Interface***********************************

AGI-INTERFACE NO

#**********************Physical Layer***********************************

PHY-LISTENABLE-CHANNEL-MASK 1
PHY-LISTENING-CHANNEL-MASK 1
PHY-MODEL PHY802.11b
PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE 2000000
PHY802.11b-TX-POWER--1MBPS 15.0
PHY802.11b-TX-POWER--2MBPS 15.0
PHY802.11b-TX-POWER--6MBPS 15.0
PHY802.11b-TX-POWER-11MBPS 15.0
PHY802.11b-RX-SENSITIVITY--1MBPS -94.0
PHY802.11b-RX-SENSITIVITY--2MBPS -91.0
PHY802.11b-RX-SENSITIVITY--6MBPS -87.0
PHY802.11b-RX-SENSITIVITY-11MBPS -83.0
PHY802.11-ESTIMATED-DIRECTIONAL-ANTENNA-GAIN 15.0
PHY-RX-MODEL PHY802.11b
ANTENNA-GAIN 0.0
ANTENNA-HEIGHT 1.5
ANTENNA-EFFICIENCY 0.8
ANTENNA-MISMATCH-LOSS 0.3
ANTENNA-CABLE-LOSS 0.0
ANTENNA-CONNECTION-LOSS 0.2
ANTENNA-ORIENTATION-AZIMUTH 0
ANTENNA-ORIENTATION-ELEVATION 0
ANTENNA-MODEL OMNIDIRECTIONAL
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ENERGY-MODEL-SPECIFICATION NONE

#***************************MAC Layer***********************************

LINK-MAC-PROTOCOL ABSTRACT
LINK-PROPAGATION-DELAY 1MS
LINK-BANDWIDTH 10000000
LINK-HEADER-SIZE-IN-BITS 224
LINK-TX-FREQUENCY 13170000000
LINK-RX-FREQUENCY 13170000000
LINK-TX-ANTENNA-HEIGHT 30
LINK-RX-ANTENNA-HEIGHT 30
LINK-TX-ANTENNA-DISH-DIAMETER 0.8
LINK-RX-ANTENNA-DISH-DIAMETER 0.8
LINK-TX-ANTENNA-CABLE-LOSS 1.5
LINK-RX-ANTENNA-CABLE-LOSS 1.5
LINK-TX-POWER 30
LINK-RX-SENSITIVITY -80
LINK-NOISE-TEMPERATURE 290
LINK-NOISE-FACTOR 4
LINK-TERRAIN-TYPE PLAINS
LINK-PROPAGATION-RAIN-INTENSITY 0
LINK-PROPAGATION-TEMPERATURE 25
LINK-PROPAGATION-SAMPLING-DISTANCE 100
LINK-PROPAGATION-CLIMATE 1
LINK-PROPAGATION-REFRACTIVITY 360
LINK-PROPAGATION-PERMITTIVITY 15
LINK-PROPAGATION-CONDUCTIVITY 0.005
LINK-PROPAGATION-HUMIDITY 50
LINK-PERCENTAGE-TIME-REFRACTIVITY-GRADIENT-LESS-STANDARD  15
MAC-PROTOCOL MACDOT11
MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
MAC-DOT11-RTS-THRESHOLD 0
MAC-DOT11-STOP-RECEIVING-AFTER-HEADER-MODE NO
MAC-DOT11-ASSOCIATION NONE
MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
MAC-SECURITY-PROTOCOL NO
WORMHOLE-VICTIM-COUNT-TURNAROUND-TIME NO
MAC-PROPAGATION-DELAY 1US

#***************Schedulers and Queues***********************************

IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 150000
IP-QUEUE-SCHEDULER STRICT-PRIORITY
IP-QUEUE-NUM-PRIORITIES 3
IP-QUEUE-PRIORITY-QUEUE-SIZE 150000
QUEUE-WEIGHT 0
IP-QUEUE-TYPE FIFO

#*******************QoS Configuration***********************************


#********************Network Security***********************************

IPSEC-ENABLED NO
ISAKMP-SERVER NO
CERTIFICATE-ENABLED NO
EAVESDROP-ENABLED NO
AUDIT-ENABLED NO
DUMMY-IAHEP-ENABLE NO

#************************ROUTER MODEL***********************************

DUMMY-ROUTER-TYPE USER-SPECIFIED
DUMMY-PARAM NO

#***********************NETWORK LAYER***********************************

NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-ADDRESS 127.0.0.1
IP-FRAGMENT-HOLD-TIME 15S
IP-FRAGMENTATION-UNIT 2048
ECN NO
ICMP YES
ICMP-ROUTER-ADVERTISEMENT-LIFE-TIME 1800S
ICMP-ROUTER-ADVERTISEMENT-MIN-INTERVAL 450S
ICMP-ROUTER-ADVERTISEMENT-MAX-INTERVAL 600S
ICMP-MAX-NUM-SOLICITATION 3
IPv6-ENABLE-6to4-TUNNELING NO

#********************ROUTING PROTOCOL***********************************

ROUTING-PROTOCOL BELLMANFORD
STATIC-ROUTE YES
STATIC-ROUTE-FILE blacklist-node.static-route
DEFAULT-ROUTE NO
HSRP-PROTOCOL NO

#***************************TRANSPORT***********************************

TRANSPORT-PROTOCOL-RSVP YES
GUI_DUMMY_CONFIG_TCP YES
TCP LITE
TCP-USE-RFC1323 NO
TCP-DELAY-SHORT-PACKETS-ACKS NO
TCP-USE-NAGLE-ALGORITHM YES
TCP-USE-KEEPALIVE-PROBES YES
TCP-USE-OPTIONS YES
TCP-DELAY-ACKS YES
TCP-MSS 512
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384

#**************************MPLS Specs***********************************

MPLS-PROTOCOL NO

#*******************Application Layer***********************************

RTP-ENABLED NO
MDP-ENABLED NO

#***********************USER BEHAVIOR***********************************

DUMMY-UBEE-ENABLED NO

#**********************Battery Models***********************************

BATTERY-MODEL NONE

#*******************OS Resource Model***********************************

OS-RESOURCE-MODEL NO

#*****************Adaptation Protocol***********************************

ADAPTATION-PROTOCOL AAL5
ATM-CONNECTION-REFRESH-TIME 5M
ATM-CONNECTION-TIMEOUT-TIME 1M

#***************** [Wireless Subnet] ***********************************

SUBNET N8-190.0.1.0 {1 thru 5} 659.059 1066.83 0

#**********************Physical Layer***********************************

[ N8-190.0.1.0 ] PHY-LISTENABLE-CHANNEL-MASK 1
[ N8-190.0.1.0 ] PHY-LISTENING-CHANNEL-MASK 1
[ N8-190.0.1.0 ] PHY-MODEL PHY802.11b
[ N8-190.0.1.0 ] PHY802.11-AUTO-RATE-FALLBACK NO
[ N8-190.0.1.0 ] PHY802.11-DATA-RATE 2000000
[ N8-190.0.1.0 ] PHY802.11b-TX-POWER--1MBPS 15.0
[ N8-190.0.1.0 ] PHY802.11b-TX-POWER--2MBPS 15.0
[ N8-190.0.1.0 ] PHY802.11b-TX-POWER--6MBPS 15.0
[ N8-190.0.1.0 ] PHY802.11b-TX-POWER-11MBPS 15.0
[ N8-190.0.1.0 ] PHY802.11b-RX-SENSITIVITY--1MBPS -94.0
[ N8-190.0.1.0 ] PHY802.11b-RX-SENSITIVITY--2MBPS -91.0
[ N8-190.0.1.0 ] PHY802.11b-RX-SENSITIVITY--6MBPS -87.0
[ N8-190.0.1.0 ] PHY802.11b-RX-SENSITIVITY-11MBPS -83.0
[ N8-190.0.1.0 ] PHY802.11-ESTIMATED-DIRECTIONAL-ANTENNA-GAIN 15.0
[ N8-190.0.1.0 ] PHY-RX-MODEL PHY802.11b
[ N8-190.0.1.0 ] ANTENNA-GAIN 0.0
[ N8-190.0.1.0 ] ANTENNA-HEIGHT 1.5
[ N8-190.0.1.0 ] ANTENNA-EFFICIENCY 0.8
[ N8-190.0.1.0 ] ANTENNA-MISMATCH-LOSS 0.3
[ N8-190.0.1.0 ] ANTENNA-CABLE-LOSS 0.0
[ N8-190.0.1.0 ] ANTENNA-CONNECTION-LOSS 0.2
[ N8-190.0.1.0 ] ANTENNA-ORIENTATION-AZIMUTH 0
[ N8-190.0.1.0 ] ANTENNA-ORIENTATION-ELEVATION 0
[ N8-190.0.1.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
[ N8-190.0.1.0 ] PHY-TEMPERATURE 290.0
[ N8-190.0.1.0 ] PHY-NOISE-FACTOR 10.0
[ N8-190.0.1.0 ] ENERGY-MODEL-SPECIFICATION NONE

#***************************MAC Layer***********************************

[ N8-190.0.1.0 ] MAC-PROTOCOL MACDOT11
[ N8-190.0.1.0 ] MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
[ N8-190.0.1.0 ] MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
[ N8-190.0.1.0 ] MAC-DOT11-RTS-THRESHOLD 0
[ N8-190.0.1.0 ] MAC-DOT11-STOP-RECEIVING-AFTER-HEADER-MODE NO
[ N8-190.0.1.0 ] MAC-DOT11-ASSOCIATION NONE
[ N8-190.0.1.0 ] MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
[ N8-190.0.1.0 ] MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
[ N8-190.0.1.0 ] MAC-SECURITY-PROTOCOL NO
[ N8-190.0.1.0 ] WORMHOLE-VICTIM-COUNT-TURNAROUND-TIME NO
[ N8-190.0.1.0 ] MAC-PROPAGATION-DELAY 1US

#***********************NETWORK LAYER***********************************

[ N8-190.0.1.0 ] NETWORK-PROTOCOL IP
[ N8-190.0.1.0 ] IP-FRAGMENT-HOLD-TIME 15S
[ N8-190.0.1.0 ] IP-QUEUE-PRIORITY-QUEUE-SIZE[0] 150000
[ N8-190.0.1.0 ] QUEUE-WEIGHT[0] 0
[ N8-190.0.1.0 ] IP-QUEUE-TYPE[0] FIFO
[ N8-190.0.1.0 ] IP-QUEUE-PRIORITY-QUEUE-SIZE[1] 150000
[ N8-190.0.1.0 ] QUEUE-WEIGHT[1] 0
[ N8-190.0.1.0 ] IP-QUEUE-TYPE[1] FIFO
[ N8-190.0.1.0 ] IP-QUEUE-PRIORITY-QUEUE-SIZE[2] 150000
[ N8-190.0.1.0 ] QUEUE-WEIGHT[2] 0
[ N8-190.0.1.0 ] IP-QUEUE-TYPE[2] FIFO

#********************ROUTING PROTOCOL***********************************

[ N8-190.0.1.0 ] ROUTING-PROTOCOL NONE



#********* [Default Wireless Subnet] ***********************************


#*************Interface Configuration***********************************


[1] NETWORK-PROTOCOL[0]       IP
[1] IP-ADDRESS[0]             190.0.1.1

[2] NETWORK-PROTOCOL[0]       IP
[2] IP-ADDRESS[0]             190.0.1.2

[3] NETWORK-PROTOCOL[0]       IP
[3] IP-ADDRESS[0]             190.0.1.3

[4] NETWORK-PROTOCOL[0]       IP
[4] IP-ADDRESS[0]             190.0.1.4

[5] NETWORK-PROTOCOL[0]       IP
[5] IP-ADDRESS[0]             190.0.1.5


#*************Hierarchy Configuration***********************************


#******************Node Configuration***********************************


[1 thru 5]      NETWORK-PROTOCOL IP
[1 thru 5]      IP-LOOPBACK-ADDRESS 127.0.0.1
[1]             HOSTNAME host1
[2]             HOSTNAME host2
[3]             HOSTNAME host3
[4]             HOSTNAME host4
[5]             HOSTNAME host5
[1 thru 5]      IP-FRAGMENT-HOLD-TIME 15S
[1 thru 5]      NODE-PLACEMENT FILE
[1 thru 5]      IP-ENABLE-LOOPBACK YES

#*********Miscellaneous Configuration***********************************

GUI-DISPLAY-SETTINGS-FILE blacklist-node.display

