VERSION 12.10
EXPERIMENT-NAME satellite

SIMULATION-TIME   300S
SEED   1

COORDINATE-SYSTEM           LATLONALT
TERRAIN-SOUTH-WEST-CORNER   ( 0.00, -120.0)
TERRAIN-NORTH-EAST-CORNER   (35.00,  -95.0)


PROPAGATION-CHANNEL-FREQUENCY[0] 29.2e9
PROPAGATION-CHANNEL-FREQUENCY[1] 29.3e9
PROPAGATION-CHANNEL-FREQUENCY[2] 29.4e9
PROPAGATION-CHANNEL-FREQUENCY[3] 29.5e9
PROPAGATION-CHANNEL-FREQUENCY[4] 29.6e9
PROPAGATION-CHANNEL-FREQUENCY[5] 29.7e9

PROPAGATION-PATHLOSS-MODEL FREE-SPACE
PROPAGATION-LIMIT -150.0

PHY-TEMPERATURE 40
PHY-NOISE-FACTOR 0.75
PHY-RX-MODEL SNR-THRESHOLD-BASED
PHY-RX-SNR-THRESHOLD 7.0

MOBILITY NONE
NODE-PLACEMENT FILE
NODE-POSITION-FILE ./satellite.nodes
MOBILITY-GROUND-NODE NO

SUBNET N16-0 { 1 thru 4 }
[N16-0] MAC-PROTOCOL SATELLITE-BENTPIPE
[N16-0] PHY-LISTENABLE-CHANNEL-MASK 111111
[N16-0] PHY-LISTENING-CHANNEL-MASK  111111
[N16-0] PHY-MODEL SATELLITE-RSV

[1] MAC-SATELLITE-BENTPIPE-ROLE SATELLITE
[2 thru 4] MAC-SATELLITE-BENTPIPE-ROLE GROUND-STATION

[N16-0] MAC-SATELLITE-BENTPIPE-TRANSMIT-POWER-MW 7000
[N16-0] PHY-SATELLITE-RSV-CHANNEL-BANDWIDTH 320.0e3
[N16-0] PHY-SATELLITE-RSV-PREAMBLE-SIZE 64
[N16-0] PHY-SATELLITE-RSV-USE-SHORTEN-LAST-CODEWORD TRUE
[N16-0] PHY-SATELLITE-RSV-BLOCK-CODING REED-SOLOMON-204-188
[N16-0] PHY-SATELLITE-RSV-CONVOLUTIONAL-CODING VITERBI-1-2
[N16-0] PHY-SATELLITE-RSV-GUARD-TIME 125MS
[N16-0] PHY-SATELLITE-ADJACENT-CHANNEL-INTERFERENCE 20.0
[N16-0] PHY-SATELLITE-ADJACENT-SATELLITE-INTERFERENCE 25.0
[1] PHY-SATELLITE-RSV-INTERMODULATION-INTERFERENCE 18.0
[2 thru 3] PHY-SATELLITE-RSV-INTERMODULATION-INTERFERENCE 30.0
[N16-0] PHY-SATELLITE-EBNO-THRESHOLD 2.0

[N16-0] ANTENNA-GAIN 47.0
[N16-0] ANTENNA-EFFICIENCY 0.70
[N16-0] ANTENNA-MISMATCH-LOSS 0.3
[N16-0] ANTENNA-CABLE-LOSS 0.0
[N16-0] ANTENNA-CONNECTION-LOSS 0.2
[N16-0] ANTENNA-HEIGHT 3.0
[N16-0] ANTENNA-MODEL OMNIDIRECTIONAL

APP-CONFIG-FILE satellite.app

ROUTER-MODEL-CONFIG-FILE    satellite.router-models
NETWORK-PROTOCOL   IP
IP-QUEUE-NUM-PRIORITIES   3
IP-QUEUE-PRIORITY-QUEUE-SIZE   16000
IP-QUEUE-TYPE   FIFO
GREEN-PROFILE-MIN-THRESHOLD        10
GREEN-PROFILE-MAX-THRESHOLD        20
GREEN-PROFILE-MAX-PROBABILITY      0.02
YELLOW-PROFILE-MIN-THRESHOLD       5
YELLOW-PROFILE-MAX-THRESHOLD       10
YELLOW-PROFILE-MAX-PROBABILITY     0.02
RED-PROFILE-MIN-THRESHOLD          2
RED-PROFILE-MAX-THRESHOLD          5
RED-PROFILE-MAX-PROBABILITY        0.02
IP-QUEUE-SCHEDULER   STRICT-PRIORITY

IP-FORWARDING YES
STATIC-ROUTE YES
STATIC-ROUTE-FILE ./satellite.routes-static


APPLICATION-STATISTICS                  YES
TCP-STATISTICS                          YES
UDP-STATISTICS                          YES
RSVP-STATISTICS                         NO
ROUTING-STATISTICS                      YES
ACCESS-LIST-STATISTICS                  NO
IGMP-STATISTICS                         NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS    YES
NETWORK-LAYER-STATISTICS                YES
DIFFSERV-EDGE-ROUTER-STATISTICS         NO
QUEUE-STATISTICS                        YES
MAC-LAYER-STATISTICS                    YES
PHY-LAYER-STATISTICS                    YES
MOBILITY-STATISTICS                     NO

ICMP NO

ROUTING-PROTOCOL NONE

[1] MAC-SATELLITE-CHANNEL-COUNT 3

[1] MAC-SATELLITE-UPLINK-CHANNEL[0]  0
[1] MAC-SATELLITE-UPLINK-CHANNEL[1]  1
[1] MAC-SATELLITE-UPLINK-CHANNEL[2]  2


[1] MAC-SATELLITE-DOWNLINK-CHANNEL[0]  3
[1] MAC-SATELLITE-DOWNLINK-CHANNEL[1]  4
[1] MAC-SATELLITE-DOWNLINK-CHANNEL[2]  5

[2] MAC-SATELLITE-USE-UPLINK-CHANNEL 0
[3] MAC-SATELLITE-USE-UPLINK-CHANNEL 1
[4] MAC-SATELLITE-USE-UPLINK-CHANNEL 2

[2] MAC-SATELLITE-USE-DOWNLINK-CHANNEL 3
[3] MAC-SATELLITE-USE-DOWNLINK-CHANNEL 4
[4] MAC-SATELLITE-USE-DOWNLINK-CHANNEL 5
PHY-SATELLITE-EBNO-THRESHOLD 2.0


[N16-0] PHY-SATELLITE-RSV-TRANSMISSION-MODE USER-DEFINED
[N16-0] PHY-SATELLITE-RSV-TRANSMIT-POWER 3000.0
[N16-0] PHY-SATELLITE-RSV-SENSITIVITY -99.0
[N16-0] PHY-SATELLITE-RSV-BITS-PER-SYMBOL 1.0
